<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
	<title>ParKing</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet"> 
	<!-- CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static "Project/css/login1.css" %}">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.6/jquery.fullPage.css" rel="stylesheet">
	<!-- JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.6/jquery.fullPage.min.js"></script></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="{% static "Project/js/login1.js" %}"/></script>
</head>
<body>
	<div id="header">
	<nav class="navbar navbar-default navbar-static-top">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/"><img src="{% static "Project/img/logo.png" %}" class="d-inline-block align-baseline" width="30" height="30" alt=""></a>
	      <a id="logo" href="/">arKing</a>
	    </div>
   		<ul class="nav navbar-nav navbar-right">
   		 <form class="form-inline" >
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" formaction="/register/">Register</button>
         </form>
    	</ul>
	  </div>
	</nav>
	</div>
	<div id="fullpage" class="section">
		<div class="login-page">
		  <div class="form">
		    <form class="login-form" method = "POST">
		   
		    	{% csrf_token %}
		      <input type="text" placeholder="Username" name = "user"/>
		      
		      <input type="password" placeholder="Password" name = "pass"/>
		      {% if error == '1' %}
		      Username and password is incorrect
		      {% endif %}
		      <button type = "submit" name = "login">Login</button>
		      <p class="message">Not registered? <a href="/register/" color="#BEBCBC">Create an account</a></p>
		    </form>
		  </div>
		</div>
	</div>

</body>
<footer class="footer navbar-fixed-bottom" style="color: white; font-family: 'Work Sans';">
    <div class="row">
      <div class="col-lg-12">
        <div class="col-md-8">
          <a href="#" onclick="window.open('/termsofservice/', 'newwindow', 'width=300, height=250'); return false;">Terms of Service</a> | <a href="#" onclick="window.open('/privacy/', 'newwindow', 'width=300, height=250'); return false;">Privacy</a>    
        </div>
        <div class="col-md-4">
          <p class="muted pull-right">Copyright 2017 ParKing</p>
        </div>
      </div>
    </div>
  </footer>
</html>