<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
	<title>ParKing</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet"> 
	<!-- CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.6/jquery.fullPage.css" rel="stylesheet">
	<!-- JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.6/jquery.fullPage.min.js"></script></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="{% static "Project/js/privacy.js" %}"/></script>
</head>
<body>
	<div id="fullpage">
	<div id="privacy" class="section" style="font-family: 'Work Sans';">
	<h2>Privacy</h2><br>
	<h3>What information we collect and why do we collect it</h3><br><br>
		We gather the name, email address, address, contact number, type of vehicle, and vehicle plate number. We collect these information for the security of the customers and the safety of the whole parking space and its occupants.<br><br>


	<h3>Payment</h3><br><br>
	We use paypal as a medium for our payment and as a result the customers account details on paypal shall not be used to charge extra without the customers permission if he/she should be charged extra. paypal handles the payment and the website has no access to the credit card credentials after a transaction is made.<br><br>
	</div>
	</div>
</body>
</html>