<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
	<title>ParKing</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet"> 
	<!-- CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.6/jquery.fullPage.css" rel="stylesheet">
	<!-- JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.6/jquery.fullPage.min.js"></script></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="{% static "Project/js/tos.js" %}"/></script>
</head>
<body>
	<div id="fullpage">
	<div id="tos" class="section" style="font-family: 'Work Sans';">
	<h2>TERMS & CONDITIONS</h2><br>
	<h3>General Parking Conditions and Disclaimer</h3><br><br>
		1. Vehicles and their contents left in this car park are at the owners sole risk in all respects.<br><br>
		2. ParKing is not liable for any theft or loss of, or damage, howsoever caused, to vehicles, accessories or contents incurred on the premises of the car park.<br><br>

	<h3>1. ParKing Reservation and Payment - General</h3><br><br>
	1.1  All reservations must be made electronically through the ParKing website and mobile app. It will be necessary for your personal data to be disclosed to the relevant card issuer for the purpose of processing and confirming your payment. Your personal data will not be disclosed to third parties other than the relevant financial institution for the chosen payment method.<br><br>
	1.2  All prices quoted are in PhP and are inclusive of VAT.<br><br>
	1.3  This parking reservation is non-transferable to another party or between different car parks and is only valid for:<br><br>
		o	The dates and times shown<br><br>
		o	At the price shown<br><br>
	1.4 All prices are subject to change without notice at any time.<br><br>
	<h3>1.5. Cancellations or Amendments</h3><br><br>
	1.5.1 Cancellations and no shows will still be charged. No refunds will be sent out for those who cancelled their reservation.<br><br>
	1.5.2 Should you decide to ammend your online booking; this can be done in the webpage. There will be no fees or new charges for those changes.
	</div>
	</div>
</body>
</html>